<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Node site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/css/styles.css"></link>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <a href="/" class="navbar-brand">My Site</a>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact"></a>Contact</li>
            </ul>
        </nav>
    </header>

    <!-- Main content here -->

    <footer>
            Awesome site. Copyright 2017
        </footer>
    </body>
    </html>