body {
  font-family: sans-serif;
  font-size: 100%;
  margin: 20px;
  color: #333;
  background-color: #fff;
  overflow: scroll;
}

label {
  position: relative;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=range] {
  width: 20em;
}

strong {
  width: 10em;
  text-align: right;
  padding-right: 0.5em;
}

span {
  font-size: 0.8em;
  width: 4em;
  text-align: right;
  padding-left: 0.5em;
  color: #888;
}

button {
  display: block;
  margin: 1em 0 1em auto;
}

#scene {
  position: relative;
  width: 100%;
  height: 30em;
  transform-box: fill-box;
  transform-style: preserve-3d;
}

#box1, #box2, #box3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 8em;
  height: 8em;
  font-size: 2em;
  text-align: center;
  line-height: 8em;
  margin: auto;
  color: #fff;
  border: 3px solid #336;
  border-radius: 1em;
  background-color: rgba(100,100,200,0.5);
  transform: translateZ(0px);
}

#box2 {
  background-color: rgba(100,200,100,0.5);
  transform: translateZ(-200px);
}

#box3 {
  background-color: rgba(200,100,100,0.5);
  transform: translateZ(-400px);
}